__pycache__
*.sav
*.gba
/.vs/expansion_save_editor/FileContentIndex
/.vs/expansion_save_editor/FileContentIndex/11020dd9-1bed-4070-8c9c-168f9a3c3542.vsidx
/.vs/expansion_save_editor/FileContentIndex/26ed7fe2-7279-4111-9b62-231ebb177723.vsidx
/.vs/expansion_save_editor/FileContentIndex/6b8d99e2-0d46-4486-818d-b97fbc4a008f.vsidx
/.vs/expansion_save_editor/FileContentIndex/6c78c54d-43ff-41fa-9e86-842033f9e28b.vsidx
/.vs/expansion_save_editor/FileContentIndex/c79be34b-817e-4d1e-a313-5bbba6a3c3be.vsidx
/.vs/expansion_save_editor/v17
/.vs/expansion_save_editor/v17/.wsuo
/.vs/expansion_save_editor/v17/Browse.VC.db
/.vs/expansion_save_editor/v17/Browse.VC.db-shm
/.vs/expansion_save_editor/v17/Browse.VC.db-wal
/.vs/expansion_save_editor/v17/Browse.VC.opendb
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/ShowdownTeam.txt
/.vs/expansion_save_editor_personal/FileContentIndex
/.vs/expansion_save_editor_personal/FileContentIndex/b501a404-c44f-485c-938d-e5b0e047ee38.vsidx
/.vs/expansion_save_editor_personal/FileContentIndex/f8f5ab2d-5697-46d6-9a6f-da6c68e30858.vsidx
/.vs/expansion_save_editor_personal/v17
/.vs/expansion_save_editor_personal/v17/.wsuo
/.vs/expansion_save_editor_personal/v17/Browse.VC.db
/.vs/expansion_save_editor_personal/v17/Browse.VC.db-shm
/.vs/expansion_save_editor_personal/v17/Browse.VC.db-wal
/.vs/expansion_save_editor_personal/v17/Browse.VC.opendb
